body {
    background-image: url("bank.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
  
a:hover {
   text-decoration: none;
      }

  
#s{
    text-decoration: none;
   }


.sidebar {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5;
    left: 5;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }
  
.sidebar a:hover {
    color: #f1f1f1;
  }
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border-color: white;
    
  }
  
.openbtn:hover {
    color: #f1f1f1;
  }
  
  
.sidenav a, .dropdown-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    
  }
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
 
.main {
    margin-left: 200px; 
    font-size: 20px;
    padding: 0px 10px;
  }
  
  
  
.dropdown-container {
    display: none;
    background-color: black;
    padding-left: 8px;
    
  }
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
